__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
venv
env
bin
lib
include
pyvenv.cfg
.git
.gitignore
*.md
docs/
test-results/
.pytest_cache
.coverage
htmlcov
*.log
.DS_Store
alembic/versions/__pycache__

